*::after,
*::before {
  box-sizing: inherit;
}

pre {
  margin: 0;
}

.main__propos {
  background: $color1;
}

.code {
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  white-space: pre-wrap;

  &__propos {
    padding-left: 100Px;

    color: rgb(143, 129, 194);

    code {
      counter-reset: code_ligne;
    }

  }

  &__ligne {
    position: relative;
    display: inline-table;
    padding-left: 3ch;

    &--vide {
      color: transparent;
      ;
    }
  }

  &__ligne::before {
    content: counter(code_ligne) "\a●\a●\a●\a●\a●\a●\a●\a●\a●\a●";
    counter-increment: code_ligne;
    display: inline-block;
    position: absolute;
    width: 3ch;
    top: 0;
    bottom: 0;
    left: -1ch;
    overflow: hidden;
    text-align: right;
  }

  &__var {
    color: #F13E30;

    &::before {
      content: "";
    }

    &::after {
      content: " :";
    }
  }

  &__value {
    color: #40DD5A;

    &::before {
      content: ' "';
    }

    &::after {
      content: '",';
    }
  }

  &__cle {
    color: #FA9765;

    &::before {
      content: '"';
    }

    &::after {
      content: '" :';
    }
  }

  &__braket1 {
    color: blue;

    &::after {
      content: "{";
    }
  }

  &__braket2 {
    color: blue;

    &::after {
      content: "}";
    }
  }
}

@media (max-width: 1024px) {
  .code {
    &__propos {
      padding: 10px 20px;
    }
  }
}