@import 'normalize';
@import 'default';
@import 'mixin';

.display {
  display: none;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  padding-top: 35px;
}

.header {
  background: linear-gradient(to bottom, rgba($color: $color4, $alpha: 0.8) 0%, rgba($color: $color3, $alpha: 0.5) 50%, rgba($color: $color1, $alpha:0.9) 100%), url('../image/963.jpg') center center/cover no-repeat;
  height: 600px;

  .menu {
    // padding: 15px 10vw;
    @include flex(space-between, row, no-wrap);
    position: fixed;
    width: 100%;
    padding: 10px 30px;
    z-index: 998;
    background: rgba($color: $color4, $alpha: 0.6);

    img {
      width: 70px;
    }

    i {
      padding-top: 30px;
      font-size: 3em;
      cursor: pointer;
      color: $color1;
      // float: right;


    }
  }

  .nav {
    // display: none;
    position: fixed;
    top: -600px;
    right: -600px;
    height: 1200px;
    width: 1200px;
    background: $color4;
    border-radius: 100%;
    z-index: 9999;

    i {
      position: fixed;
      top: 45px;
      right: 45px;
      font-size: 2em;
      color: $color1;
      cursor: pointer;
    }

    &__links {
      @include flex (center, column, nowrap);
      height: 230px;

      :first-child {
        top: 75px;
        animation-timing-function: ease-in;
      }

      :nth-child(2) {
        top: 175px;

        animation-timing-function: linear;
      }

      :nth-child(3) {
        top: 275px;
        animation-timing-function: ease;
      }

      :nth-child(4) {
        top: 375px;
        animation-timing-function: ease-in-out;
      }

      a {
        position: fixed;
        right: 35px;
        color: $color1;
        font-size: 2em;
        font-family: $text_font;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: .2rem;
        text-align: left;
        animation: mymove 1s;
        transition: color 0.3s;

        &:hover {
          color: $color3;
        }

      }

      @keyframes mymove {
        from {
          right: 275px;
          font-size: 0em;
        }

        to {
          right: 35px;
          font-size: 2em;
        }
      }
    }
  }

  &__text {
    color: $color1;
    font-family: $text_font;
    padding-top: 80px;
    text-align: center;

    h1 {
      font-size: 3rem;
      margin: 15px;
    }

    blockquote {
      max-width: 500px;
      font-size: 1.5rem;
      padding: 15px;
      background: transparent;
      border-radius: 20px;
      margin: 0 auto;
    }
  }

  &__btn {
    font-family: $text_font;
    margin-top: 50px;
    display: flex;
    justify-content: center;


    a {
      box-shadow: inset 0px 0px 20px 10px rgba($color: $color4, $alpha: 1);
      padding: 15px 30px;
      color: $color1;
      font-size: 1.2em;
      margin: 0 20px;
      border-radius: 5px;

    }
  }
}

@media (max-width:610px) {
  .header {
    &__text {
      h1 {
        font-size: 2.2rem;
      }

      blockquote {
        font-size: 1rem;
      }
    }

    &__btn {
      margin-top: 25px;
      display: block;

      a {
        display: block;
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}

.portfolio {
  padding: 10px 0 40px 0;

  &__container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.block {
  margin-bottom: 100px;
  font-family: 'Courier New', Courier, monospace;

  // &__left {
  //   display: flex;
  // }
  &__img {
    border: 2px solid $color4;
    max-width: 750px;

    margin: 0 auto;

    img {
      display: block;
      position: relative;
      z-index: 1;
    }
  }

  &__text {
    // background: $color1;

    a {
      color: $color3;
      font-size: 1.4em;
      font-weight: 700;


      &:hover {
        text-decoration: underline;
      }

      &::after {
        content: '   >>';
      }
    }
  }

  &__title {
    font-size: 1.75rem;
    letter-spacing: 2px;
    line-height: 1.1;
    color: $color4;
    font-weight: 700;
    margin: 0;

    &::before {
      content: '';
      width: 24px;
      height: 3px;
      background: $color3;
      display: block;
      margin-bottom: 10px;
    }
  }

  p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 900px) {
  .portfolio {
    background: linear-gradient(to bottom, rgba($color: $color1, $alpha: 0.9) 0%, rgba($color: $color3, $alpha: 0.5) 50%, rgba($color: $color4, $alpha:0.6) 100%), url('../image/smoke.png') no-repeat top 100Px right -200px, url('../image/smoke.png') no-repeat top 750Px left -200px;
    background-size: cover, 700px 850px, 500px 650px;
  }

  .block {

    &__left,
    &__right {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .block__img {
      width: 500px;
      border: none;
      position: relative;

      &::before {
        content: '';
        display: block;
        border: 2px solid $color4;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
    }

    &__left {
      .block__img {
        margin-left: 30px;

        &::before {

          top: -30px;
          right: 30px;

        }
      }

      .block__text {
        margin-left: 20px;
        width: 350px;
        flex: none;
      }
    }

    &__right {
      .block__img {
        margin-right: 30px;

        &::before {
          top: -30px;
          left: 30px;

        }

      }

      .block__text {
        margin-right: 20px;
        order: -1;
        width: 350px;
        flex: none;
      }
    }

    a {
      margin-top: 20px;
    }
  }
}

/////////////propos
*::after,
*::before {
  box-sizing: inherit;
}

pre {
  margin: 0;
}

.main__propos {
  background: rgba($color: black, $alpha: 0.87);
}

.code {
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  white-space: pre-wrap;

  &__propos {
    padding-left: 100Px;
    color: rgba($color: $color1, $alpha: 0.5);

    code {
      counter-reset: code_ligne;
    }

  }

  &__ligne {
    position: relative;
    display: inline-table;
    padding-left: 3ch;

    &--vide {
      color: transparent;
      ;
    }
  }

  &__ligne::before {
    content: counter(code_ligne) "\a●\a●\a●\a●\a●\a●\a●\a●\a●\a●";
    counter-increment: code_ligne;
    display: inline-block;
    position: absolute;
    width: 3ch;
    top: 0;
    bottom: 0;
    left: -1ch;
    overflow: hidden;
    text-align: right;
  }

  &__var {
    color: #F13E30;

    &::before {
      content: "";
    }

    &::after {
      content: " :";
    }
  }

  &__value {
    color: $color2;

    &::before {
      content: ' "';
    }

    &::after {
      content: '",';
    }
  }

  &__cle {
    color: $color3;

    &::before {
      content: '"';
    }

    &::after {
      content: '" :';
    }
  }

  &__braket1 {
    color: blue;

    &::after {
      content: "{";
    }
  }

  &__braket2 {
    color: blue;

    &::after {
      content: "}";
    }
  }
}

@media (max-width: 1024px) {
  .code {
    &__propos {
      padding: 10px 20px;
    }
  }
}

/////Form
.contact {
  background: linear-gradient(to bottom, rgba($color: $color4, $alpha: 0.8) 0%, rgba($color: $color3, $alpha: 0.5) 50%, rgba($color: $color1, $alpha:0.9) 100%), url('../image/4134.jpg') center center/cover no-repeat;
  height: 520px;

  &__container {
    max-width: 1024px;
    margin: 0px auto;
    padding: 80Px 40px 20px 40px;

    h2 {
      color: $color1;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
    }
  }

  &__form {

    input,
    textarea {
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid $color2;
      background: transparent;
      text-transform: uppercase;
      height: 40px;
      font-family: 'Courier New', Courier, monospace;
      color: $color1;
      padding: 0 16px;
      font-size: 14px;

      &:focus {
        background: rgba($color: #fff, $alpha: 0.1);
      }
    }

    textarea {
      height: 100px;
      padding: 10px 16px;
    }

    button {
      box-shadow: inset 0px 0px 20px 10px rgba($color: $color4, $alpha: 0.8);
      padding: 10px 30px;
      color: $color1;
      font-size: 1em;
      border-radius: 20px;
      width: 150px;
      margin: 0 auto;
      display: block;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}